@page "/lesson22"
<PageTitle>Navigation and Parameters</PageTitle>

<h1>NavFromPage</h1>


<p>
    On this page we will demonstrate
    <ul>
        <li>Navigation from one page to another page</li>
        <li>passing a parameter navigating from  one page to another page</li>
        <li>introduction to injection dependency</li>
    </ul>
</p>

@*
    Label - parameter on ActionButton, text for the button
    ButtonStyle - parameter on ActionButton, styling of the control
    OnClick  - parameter eventcallback on ActionButton, will cause local method NavToPageMethod
                    to execute
*@
<ActionButton Label="Go To ...." OnClick="NavToPageMethod" ButtonStyle="btn-outline-success"/>
&nbsp;&nbsp;
<ActionButton Label="Go To With ...." OnClick="NavToPageMethodWith" ButtonStyle="btn-outline-success" />
@code {
    private int someValue = 23;

    //with our software not all available functionality is defaulted to your app
    //if you wish to use available functionality then what you need to do is to inject
    //  the functionality class into your app
    //this is done by using an annotation [Inject] and declaring a property
    //  of the class you wish to inject
    //this is called dependency injection

    [Inject]
    NavigationManager navManager { get; set; }


    private void NavToPageMethod()
    {
        //the method argument is the routing name of the page
        //  to which you wish to go
        navManager.NavigateTo("/lesson22b");
    }

    private void NavToPageMethodWith()
    {
        //the method argument is the routing name of the page
        //  to which you wish to go
        navManager.NavigateTo($"/lesson22b/{someValue}");
    }
}
