@page "/lesson22B"
@page "/lesson22B/{incomingParam:int}"

@*    A page may have several page directives        
        allowing for multiple alias names        
        and for allowing routing with or without parameters

      Parameters on the page directive need to be declared as such
       in your coding block

      One can combine both just name routing page and the paramter name routing page
        as a single directive IF the parameter is make nullable
      Of course this means when you declare your parameter in the code block
        it needs to be declared as a nullable property

        @page "/lesson22B/{incomingParamOpt:int?}"

        [Parameter]
        public int? incomingParamOpt { get; set; } = 0;
*@

<PageTitle>Receiving Page</PageTitle>

<h3>Receiving Page</h3>

<p>
    This page can be reach from
    <ul>
        <li>a) menu</li>
        <li>b) another page without a parameter</li>
        <li>c) another page with a parameter</li>
    </ul>
</p>

<ActionButton Label="Go Back" ButtonStyle="btn-outline-info" OnClick="BackToPage" />

@if (incomingParam != 0)
{
    <p> You passed the value @incomingParam</p>
}
@code {
    @*
        if a variable is used in the hmtl code above, it needs to
            have an initial value
    *@
    [Parameter]
    public int incomingParam { get; set; } = 0;

    [Inject]
    NavigationManager navManager { get; set; }

    private void BackToPage ()
    {
        navManager.NavigateTo("/lesson22");
    }
}
