<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MauiAppDemo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        @*
            Lesson 34
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hello">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Hello
            </NavLink>
        </div>
        @*
            Lesson 35
            demo on using reusable components

              to obtain bootstrap icons use:
            https://icons.getbootstrap.com/
            in the start type in to filter ...
            eg wrench
            Click on icon to open icon information window
            under icon font you will see the code for the font
                use the class name in your span class
                OR
                remove span tag and replace with the code in icon font

            if you wish to center your icon then it more work
                under Copy HTML you will find the svg to use in the NavMenu css
                in the NavMenu.razor.css file (expand NavMenu.razor) you will
                    want to copy and past the css of one of the existing css icons
                    then paste the svg from the xmlns to the end (do not include the svg tags)
                once pasted you will need to change any double quotes to single quotes
                for the closing and opening < and > symbols changed to %3E%3C

            Add nav-menu to icon name to create your class name
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboarddemo">
                <span class="bi bi-wrench-nav-menu" aria-hidden="true"></span> DashBoard
            </NavLink>
        </div>
        @*
            Lesson 36 Various Bindings
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="binding-demo">
                <span class="bi bi-arrow-left-right" aria-hidden="true"></span> Various Bindings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="instructordemo">
                <span class="bi bi-arrow-left-right" aria-hidden="true"></span> Form Binding RealTime
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reactive-UI-demo">
                <span class="bi bi-arrow-left-right" aria-hidden="true"></span> Survey Comment
            </NavLink>
        </div>
    </nav>
</div>
