@page "/reactive-UI-demo"
<PageTitle>Reactive UI Demo</PageTitle>
<h3>Reactive UI Demo</h3>
<h4>.... using automatic binding with manual event binding</h4>

<p>Limit the comment area to 50 character.<br/>
    What happens when you enter into the commment area and wish
    to inform your user of a pending event.</p>
    <br/><br/>

    @* the maxlength on the control actually is doing the limitation of data entry*@
    <textarea @bind="message" @bind:event="oninput" maxlength="50"></textarea>
    <p>Remaing Characters: @(maxlength - message.Length)</p>

    <br/><br/>
    <p>Watch: Proof</p>
    <p>Model message content: @message</p>
    <p>Character count: @message.Length</p>

            @code {
    private string message = "";
    private int maxlength = 50;
}
